{% extends 'base.html.twig' %}

{% block title %}OnlyFun{% endblock %}

{% block bodyIz %}
        <div class="left-div">
            <ul>
                <li><p>Video : {{ video.nombre }}</p></li>
                <li><p>Url : {{ video.Url }}</p></li>
                <li><p>Descripcion : {{ video.descripcion }}</p></li>
                <li><p>Categoria :</p></li>
                <li><p>Mensage :{{ mensage  }}</p></li>

            </ul>
        </div>       
{% endblock %}
{% block bodyDe %}
    <div class="right-div" id="2">
        <a href="{{ path('crearVideo') }}" >
        <button>CV</button>
        </a>
        <BR><BR>
        <form action="{{ path('mostrarVideo') }}" method="POST">
            MV
            <input class="inputId" type="text" id="id" name="id" required>
            <input type="submit" value="Enviar">
        </form><BR>
        <form action="{{ path('cambiarVideo') }}" method="POST">
            CV
            <input class="inputId" type="text" id="id" name="id" required>
            <input type="submit" value="Enviar">
        </form><BR>
        <form action="{{ path('borrarVideo') }}" method="POST">
           BV
            <input class="inputId" type="text" id="id" name="id" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}
